.container {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login {
  display: grid;
  gap: 10px;
}

.login-input {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
